
@font-face {
    font-family: "Roboto";
    Src: url("/assets/fonts/roboto-flex/static/RobotoFlex-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

.roboto {
    font-family: "Roboto";
}

.drop-shadow {
    text-shadow: 0px 3px #000c1e;
}


.flt-near-white {
    filter: invert(99%) sepia(6%) saturate(59%) hue-rotate(205deg) brightness(115%) contrast(91%);
}

.w-icon {
    width: 24px;
}
