@font-face {
	font-family: 'NotoSans';
	src: url('/assets/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansBold';
	src: url('/assets/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansItalic';
	src: url('/assets/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansMono';
	src: url('/assets/NotoSansMono-Regular.ttf') format('truetype');
}

* {
	font-size: 16px;
}

/* For small screen devices */
@media (max-width: 500px) {
	* {
		font-size: 12px;
	}
}

html {
	font-family: 'NotoSans', sans-serif;
	color: #000000;
	background-color: #ffffff;
	max-width: 75%;
	margin: 1% auto;
	line-height: 1.4;
	word-spacing: 0.16em;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

#nav-home {
	margin-bottom: 0.25em;
}

#nav-links {
	padding-top: 0.25em;
	border-top: 1px solid black;
}

a {
	font-family: 'NotoSansBold', sans-serif;
	color: black;
	text-decoration: none;
}

b {
	font-family: 'NotoSansBold', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	text-align: center;
	border-top: 2px solid rgb(0, 0, 0);
}

p {
	margin-bottom: 2em;
}

h1 {
	line-height: 1.8;
}

h2 {
	line-height: 1.6;
}

h3 {
	line-height: 1.4;
}

pre {
	font-family: 'NotoSansMono', monospace;
	background-color: white;
	border: 1px solid Black;
	padding-left: 2%;
	padding-top: 1ch;
	padding-bottom: 1ch;
	/* Only take care of X overflow since this is the only part that can be
	too wide. The Y axis will never overflow. */
	overflow: hidden;
}

/* IMAGES */
figure img {
	/* Allows margin auto to work for centering */
	display: block;
	/* Centers the image within its parent element */
	margin: 0 auto;
	/* Ensures the image does not exceed the width of the parent */
	max-width: 100%;
	/* Maintains the aspect ratio of the image */
	height: auto;
}

figure {
	/* Center the content */
	text-align: center;
	/* Adjust margin as needed */
	margin: auto;
}

figcaption {
	/* Caption text color */
	color: #000000;
	/* Adjust font size as needed */
	font-size: 0.9em;
	/* Space between the image and caption */
	margin-top: 8px;
}
