/* FONTS */

@font-face {
	font-family: 'NotoSans';
	src: url('/assets/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansMono';
	src: url('/assets/NotoSansMono-Regular.ttf') format('truetype');
}

/* HEADER / FOOTER */
header {
	text-align: center;
	border-bottom: 2px solid rgb(0, 0, 0);
}

/* Footer styles */
footer {
	text-align: center;
	border-top: 2px solid rgb(0, 0, 0);
}

nav ul {
	/* Center the menu */
	display: inline-block;
}

nav ul li {
	/* Display links side by side */
	display: inline;
	/* Spacing between links */
	margin: 0 10px;
}

nav img {
	/* Removes default inline spacing */
	display: inline-block;
	/* Ensures background is transparent */
	background: transparent;
	/* Removes any border */
	border: none;
}

/* LISTS */
ul {
	list-style-type: square;
}

/* BODY */
body {
	font-family: 'NotoSans', serif;
	font-size: 16px;
	color: #000000;
	background-color: #ffffff;
	margin: 8ch auto;
	max-width: 80ch;
	padding: 0 10px;
	text-align: left;
	line-height: 1.4;
	word-spacing: 0.16em;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

p {
	margin-bottom: 2em;
}

/* HEADINGS */
h1,
h2,
h3 {
	font-family: 'NotoSans', sans-serif;
}

h1 {
	line-height: 1.8;
}

h2 {
	line-height: 1.6;
}

h3 {
	line-height: 1.4;
}

/* CODE BLOCKS */
pre,
code {
	font-family: 'NotoSansMono', sans-serif;
}

pre {
	padding-left: 3em;
}

/* IMAGES */
figure img {
	/* Allows margin auto to work for centering */
	display: block;
	/* Centers the image within its parent element */
	margin: 0 auto;
	/* Ensures the image does not exceed the width of the parent */
	max-width: 100%;
	/* Maintains the aspect ratio of the image */
	height: auto;
}

figure {
	/* Center the content */
	text-align: center;
	/* Adjust margin as needed */
	margin: auto;
}

figcaption {
	/* Caption text color */
	color: #000000;
	/* Adjust font size as needed */
	font-size: 0.9em;
	/* Space between the image and caption */
	margin-top: 8px;
}
